body{
    background: white;

    .btn-started{
        border: 2px solid transparent;
        border-radius: 50px;
        background: #2d499b;
        width: 90px;
        height: 19.9px;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: .37em;
        margin-left: 1em;
        margin-top: .47em;
     }
    .navbar{
        margin: 1em;
        display: flex;
        flex-direction: row;
        width: 100vw;
        

        .navbar-logo{
            float: left;
            width: 30%;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: lighter;
            margin-top: -.5em;

            #font-small{
                font-weight: 400;
            }
        }

        .navbar-menus{
            float: right;
            display: flex;
            margin-left: 54em;
        
            flex-direction: row;
            width: 70%;
            
         .menu-links{
             text-decoration: none;
             padding-left: 1.8em;
             color: rgba(68, 68, 68, 0.822);
             padding-top: 1em;
              font-size: 1.1em;

             
         }
         .btn-started{
            border: 2px solid transparent;
            border-radius: 50px;
            background: #2d499b;
            width: 90px;
            height: 19.9px;
            text-align: center;
            text-decoration: none;
            color: white;
            padding: .37em;
            margin-left: 1em;
            margin-top: .47em;
         }

        }
    }

    .company-intro{
        display: flex;
        flex-direction: row;
        margin: auto 2em;
        
     .intro-text{
         width: 20%;
         display: flex;
         flex-direction: column;
     }


    }
}