body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: center;

    .form-container{
        background-color: #f1f1f1;
        width: 650px;
        height: 600px;
        display: flex;
        align-self: center;
        flex-direction: column;
        margin: 5em 5em;
        justify-content: center;
        //padding: 1em 2em 4em;
        padding-left: 1em;
        //padding-right: 2em;
        border: 15px solid white;


        .title {
            margin: -19em 0 0 0;
            text-align: center;
        }
        .sub-title{
            text-align: center;
            margin-top: -2em;
            color: rgba(80, 78, 78, 0.795);
            font-size: .9em;
            font-weight: lighter;
        }
        .input-email{
            text-align: center;
            margin-top: 3em;
            position: relative;

            input{
                height:70px;
                font-size: 1.25em;
                width:60%;
                padding-left:10px;
                border-radius: 4px;
                border:1.2px dashed rgba(0, 0, 0, 0.342);
                outline:none;
                background-color: inherit;
            }
            button{
                position:absolute;
                right: 0px;
                top: 4px;
               // border:3px solid white;
                height:58px;

                width:23%;
                border-radius:4%;
                outline:none;
                text-align:center;
                font-weight:bold;
                padding:2px;
                color: rgba(255, 255, 255, 0.856);
                background-color: #B95A25;
                font-size:1.3em;
                font-weight: bold; 
                margin-right: 6.3em;
                margin-top: .2em;
            }
        }
    }
}